@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/SsAXGvc3.ttf) format("truetype");
}

@font-face {
    font-family: Open Sans Light;
    src: url(../fonts/1DgBBEGV.ttf) format("truetype");
}

@font-face {
    font-family: MyraidPro Regular;
    src: url(../fonts/MyriadPro/MyriadPro-Regular.otf) format("truetype");
}

body {
    width: 100%;
    background-color: #282a2e;
}

.header {
    width: 100%;
    font-family: Roboto-regular;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282a2e


}

.logo {
    text-align: left;
}

.main-menu {
    text-align: center;
    padding-top: 7px;

}
.main-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.main-menu li {
    display: inline;
    color: white;
    font-size: 20px;
    font-family: Roboto-regular;
    text-decoration: none;
    padding-left: 20px;
}

.item > img {
    width: 100%;

}

.services {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "MyraidPro Regular";
}

.everyHeader {
    padding: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 36px;

}

.srv {
    width: 215px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}

.portfolio {
    text-align: center;
    margin: 0;
}

.portfolio h3 {
    margin: 30px;
    margin-top: 70px;
}

.portfolio ul {

    list-style-type: none;
}

.portfolio li {
    display: inline-block;
    background-color: #313338;
    padding: 10px;
    width: 103px;
    color: #f5f5f5;
    margin-top: 20px;
    text-decoration: none;
}

.gallery {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.gallery img {
    width: 233px;
    height: 233px;
    padding: 5px;
}

.prices {
    text-align: center;
    font-family: Roboto-regular;
    color: #ffffff;
    margin: 0;

}

.bigcolumn {
    color: #f5f5f5;
    background-color:#313338;
    display: inline-block;
    width: 280px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 3;
    font-family: "Open Sans Light";
}

.bigcolumn h4 {
    padding: 10px;
    text-decoration: none;
}

.bigcolumn h3 {
    padding: 20px;
    background-color: #1bbc9d;
    border-bottom: 3px solid #17987f;
}

.bigcolumn {
    letter-spacing: 1px;
}
.myButton {

    background-color:#b0cd3b;
    color: white;
    font-family: Roboto-regular;
    padding: 10px 27px;
    border-radius: 3px;
    box-shadow: 0 -3px #798f21 inset;
    transition: 0.2s;

}


.btnWhite {
    background-color: #e4e4e4;
    box-shadow: 0 -3px #c1c1c1 inset;
}

.btnBlue {
    background-color: #1bbc9d;
    box-shadow: 0 -3px #1f937d inset;
}

.btnGrey {
    background-color: #424242;
    box-shadow: 0 -3px #2d2d2d inset;
}


.fourColumn {
   margin: 5px;
    margin-top: 70px;
}

.smallcolumn {
    background-color: #f4f4f4;
    width: 205px;
    display: inline-block;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    line-height: 3;
    font-family: "Open Sans Light";
    color: #5c5c5c;
}

.smallcolumn h4 {
    padding: 10px;
}

.smallcolumn h3{
    padding: 20px;
}

.greyCol h3 {
    background-color: #424242;
    border-bottom: 3px solid #2d2d2d;

}

.blueCol h3 {
    background-color: #74b0a4;
    border-bottom: 3px solid #55857b;
}

.greenCol h3{
    background-color: #b6c380;
    border-bottom: 3px solid #8e9865;
}

.whiteCol h3{
    background-color: #e4e4e4;
    border-bottom: 3px solid #a7a7a7;
}

.opinion {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 70px;
    font-family: "MyraidPro Regular";
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;

}

.opinion p {
    font-family: Arial;
    text-align: center;
    font-size: 13px;
    color: #717171;
    text-transform: none;
}

.opinion span {
    text-transform: uppercase;
    color: #b0cd3b;
    font-family: Arial;
}
.firstJimbotron {
    background-image: url("../img/vintage-girls-fashion-style-hd-1080p-wallpapers-download-1024x576.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    font-family: Roboto-regular;
    text-align: right;

}

.secondJimbotron{
    background-image: url("../img/femininity-2880x1800.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    text-align: right;
}

.thirdJimbotron {
    background-image: url("../img/calgary-stampede-2880x1800.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    font-family: Roboto-regular;
    color: #ffffff;
}

.fourthJimbotron {
    background-image: url("../img/autumn-bicycle-wide-1600x900.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    font-family: Roboto-regular;
    color: #ffffff;
}

.fifthJimbotron {
    background-image: url("../img/sweet_girl-1600x900.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    font-family: Roboto-regular;
    margin: 0;
}

.aboutUs {
    font-family: "MyraidPro Regular";
    text-align: center;

    color: #acacac;
    margin: 0;
}

.aboutUs img {
    margin-bottom: 40px;
}

.team {
    display: inline-block;
    text-align: center;
    font-family: "MyraidPro Regular";
    font-family: Arial;
    font-size: 13px;
}

.contactUs {
    margin: 0;
    margin-bottom: 75px;
}
.emailForm {
    display: inline-block;
    width: 43%;
    margin-right: 10px;
    background-color: #222327;
    border: none;
}

.textForm{
    margin-top: 25px;
    width: 88%;
    background-color: #222327;
    border: none;
    height: 135px;
}

.askQuestion {
    margin-bottom: 30px;
}

.info {
    margin-bottom: 49px;
}

.info address {
   line-height: 2;
    color: #989898;
    font-family: "MyraidPro Regular";
    font-size: 16px;
}

hr {
    border-color: #353638;
}

a {
    color: #ffffff;
}

.fifthCont {
    margin-left: 116px;
    margin-top: 85px;
}

.footer {
padding: 20px;
    margin: 0;
}