
@font-face {
    font-family: Bazar;
    src: url(../fonts/Bazar.ttf) format("truetype");
}

@font-face {
    font-family: RobotoSlab-Regular;
    src: url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Oswald Regular;
    src: url(../fonts/Oswald-Regular.otf) format("truetype");
}

body {
    text-transform: uppercase;
    color: #f9ebd9 !important;
    font-family: Bazar !important;
    text-align: center !important;
}

.header-bg .row {
    margin: 0;
}

.header-bg {
    background-color: #76b9b9;
    text-align: center;
    height: 133px;
    border-bottom: 1px dashed darkcyan;
}

.mainMenu li{
    display: inline-block;
    padding: 0 25px;
}
.mainMenu li a {
    font-family: Bazar;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f9ebd9;
    text-shadow: 3px 1px 5px rgba(150, 150, 150, 1);
}

.mainMenu  {
    padding: 0 !important;
}

.mainMenu img {
    height: 153px;
}

.slider-bg {
    background-color: #76b9b9;
    text-align: center;

}

.slider-bg .row {
    margin: 0;
}
.rib img{
    padding: 30px;
}



.slider {
    /*border: 10px solid #ffffff;*/
    /*border-bottom: 50px solid #ffffff;*/
    /*background-color: #ffffff;*/

}


.content-bg {
    margin-top: 45px;
}

.aboutMe {
    background-color: #e3dece;
    color: #38353e;
}

.headerStyle h1{
    font-size: 92px;
    color: #393a3a;
    text-shadow: 2px 0px 1px #e3dece, 4px 3px 0px #7d7c77;
    margin-top: 54px;
}

.headerStyle span {
    font-family: RobotoSlab-Regular;
    text-transform: lowercase !important;
    font-size: 23px;
    color: #38353e;
}

.headerStyle h3 {
    font-family: "Oswald Regular";
    color: #38353e;
    margin-bottom: 20px;
}

.columns {
    margin-top: 40px;
    margin-bottom: 60px;
}

.columns p{
   font-family: RobotoSlab-Regular;
    text-transform: lowercase;
}

.portfolio {
    background-color: #e48b6a;

}

.folio img{
    width: 220px;
    display: inline-block;

}

.folio {
    font-family: RobotoSlab-Regular;
    font-size: 14px;
    text-transform: none;
}
.thumbnail {
    display: inline-block !important;
    margin: 5px;
}

.tags {
    text-transform: lowercase;
}

.blog {
    background-color: #dfddda;
}

.myblog {
    margin-top: 30px;
    text-align: left;
    color: #000000;
}

.myblog img{
   width: 229px;
    border: 2px solid #ffffff;
}

.myblog h4 {
    font-family: RobotoSlab-Regular;
    font-weight: bold;
    text-transform: capitalize;
}

.myblog span {
    font-family: "Oswald Regular";
    font-size: 10px;
}

.myblog p {
    font-family: RobotoSlab-Regular;
    text-transform: none;
    color: darkgrey;
    font-weight: normal;
}

.contact {
    background-color: #4d5157;
}


.emailForm {
    margin-bottom: 10px;
    font-family: RobotoSlab-Regular;
    text-align: left;
}

.social {
    margin-bottom: 40px;
    margin-top: 60px;
}
.social img {
    height: 85px;
}

.top {
    height: 10px;
    border-bottom: 1px dashed #c0bcae;
}

.bottom {
    height: 10px;
    border-top: 1px dashed #c0bcae;
}

hr {
    border-top: 1px solid #4d5157 !important;
    width: 50px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.bottPost {
    font-family: "Oswald Regular";
    font-size: 13px;
    color: #38353e;
    margin-top: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn {
    font-family: RobotoSlab-Regular;
    float: left;
}


.row {
    margin: 0 auto !important;
}