
@font-face {
    font-family: Bazar;
    src: url(../fonts/Bazar.ttf) format("truetype");
}

@font-face {
    font-family: RobotoSlab-Regular;
    src: url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Oswald Regular;
    src: url(../fonts/Oswald-Regular.otf) format("truetype");
}

body {
    text-transform: uppercase;
    color: #f9ebd9 !important;
    font-family: Bazar !important;
    text-align: center !important;
}

.header-bg .row {
    margin: 0;
}

.header-bg {
    background-color: #76b9b9;
    text-align: center;
    height: 133px;
    border-bottom: 1px dashed darkcyan;
}

.mainMenu li{
    display: inline-block;
    padding: 0 45px;
}
.mainMenu li a {
    font-family: Bazar;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f9ebd9;
    text-shadow: 3px 1px 5px rgba(150, 150, 150, 1);
}

.mainMenu img {
    height: 153px;
}

.slider-bg {
    background-color: #76b9b9;
    text-align: center;

}

.slider-bg .row {
    margin: 0;
}
.rib img{
    padding: 30px;
}


/*.ribbon {*/
    /*width: 370px;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*font-size: 19px!important;*/
    /*background: #fff1ce;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#fff1ce), to(#fff1ce));*/
    /*background: -webkit-linear-gradient(top, #fff1ce, #fff1ce);*/
    /*background: -moz-linear-gradient(top, #fff1ce, #fff1ce);*/
    /*background: -ms-linear-gradient(top, #fff1ce, #fff1ce);*/
    /*background: -o-linear-gradient(top, #fff1ce, #fff1ce);*/
    /*background-image: -ms-linear-gradient(top, #fff1ce 0%, #fff1ce 100%);*/
    /*-webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;*/
    /*-moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;*/
    /*box-shadow: rgba(000,000,000,0.3) 0 1px 1px;*/
    /*font-family: 'Helvetica Neue',Helvetica, sans-serif;*/
/*}*/
/*.ribbon h1 {*/
    /*font-size: 21px!important;*/
    /*color: #4b4e4c;*/
    /*text-shadow: #000000 0 1px 0;*/
    /*margin:0px;*/
    /*padding: 15px 10px;*/
    /*font-family: Bazar;*/
/*}*/
/*.ribbon:before, .ribbon:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: block;*/
    /*bottom: -1em;*/
    /*border: 1.5em solid #fff1ce;*/
    /*z-index: -1;*/
/*}*/
/*.ribbon:before {*/
    /*left: -2em;*/
    /*border-right-width: 1.5em;*/
    /*border-left-color: transparent;*/
    /*-webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;*/
    /*-moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;*/
    /*box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;*/
/*}*/
/*.ribbon:after {*/
    /*right: -2em;*/
    /*border-left-width: 1.5em;*/
    /*border-right-color: transparent;*/
    /*-webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;*/
    /*-moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;*/
    /*box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;*/
/*}*/
/*.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {*/
    /*border-color: #788284 transparent transparent transparent;*/
    /*position: absolute;*/
    /*display: block;*/
    /*border-style: solid;*/
    /*bottom: -1em;*/
    /*content: '';*/
/*}*/
/*.ribbon .ribbon-content:before {*/
    /*left: 0;*/
    /*border-width: 1em 0 0 1em;*/
/*}*/
/*.ribbon .ribbon-content:after {*/
    /*right: 0;*/
    /*border-width: 1em 1em 0 0;*/
/*}*/
/*.ribbon-stitches-top {*/
    /*margin-top:2px;*/
    /*border-top: 1px dashed rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);*/
    /*-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);*/
/*}*/
/*.ribbon-stitches-bottom {*/
    /*margin-bottom:2px;*/
    /*border-top: 1px dashed rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);*/
/*}*/

.slider {
    /*border: 10px solid #ffffff;*/
    /*border-bottom: 50px solid #ffffff;*/
    /*background-color: #ffffff;*/

}


.content-bg {
    margin-top: 45px;
}

.aboutMe {
    background-color: #e3dece;
    color: #38353e;
}

.headerStyle h1{
    font-size: 92px;
    color: #393a3a;
    text-shadow: 2px 0px 1px #e3dece, 4px 3px 0px #7d7c77;
    margin-top: 54px;
}

.headerStyle span {
    font-family: RobotoSlab-Regular;
    text-transform: lowercase !important;
    font-size: 23px;
    color: #38353e;
}

.headerStyle h3 {
    font-family: "Oswald Regular";
    color: #38353e;
    margin-bottom: 20px;
}

.columns {
    margin-top: 40px;
    margin-bottom: 60px;
}

.columns p{
   font-family: RobotoSlab-Regular;
    text-transform: lowercase;
}

.portfolio {
    background-color: #e48b6a;

}

.folio img{
    width: 220px;
    display: inline-block;

}

.folio {
    font-family: RobotoSlab-Regular;
    font-size: 14px;
    text-transform: none;
}
.thumbnail {
    display: inline-block !important;
    margin: 5px;
}

.tags {
    text-transform: lowercase;
}

.blog {
    background-color: #dfddda;
}

.myblog {
    margin-top: 30px;
    text-align: left;
    color: #000000;
}

.myblog img{
   width: 229px;
    border: 2px solid #ffffff;
}

.myblog h4 {
    font-family: RobotoSlab-Regular;
    font-weight: bold;
    text-transform: capitalize;
}

.myblog span {
    font-family: "Oswald Regular";
    font-size: 10px;
}

.myblog p {
    font-family: RobotoSlab-Regular;
    text-transform: none;
    color: darkgrey;
    font-weight: normal;
}

.contact {
    background-color: #4d5157;
}


.emailForm {
    margin-bottom: 10px;
    font-family: RobotoSlab-Regular;
    text-align: left;
}

.social {
    margin-bottom: 40px;
    margin-top: 60px;
}
.social img {
    height: 85px;
}

.top {
    height: 10px;
    border-bottom: 1px dashed #c0bcae;
}

.bottom {
    height: 10px;
    border-top: 1px dashed #c0bcae;
}

hr {
    border-top: 1px solid #4d5157 !important;
    width: 50px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.bottPost {
    font-family: "Oswald Regular";
    font-size: 13px;
    color: #38353e;
    margin-top: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn {
    font-family: RobotoSlab-Regular;
    float: left;
}


.row {
    margin: 0 auto !important;
}