@font-face {
    font-family: "Calibre-reg";
    src: url(../fonts/Calibre-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Calibre-Sem";
    src: url(../fonts/Calibre-Semibold.otf) format("truetype");
}

@font-face {
    font-family: "Brandon_reg";
    src: url(../fonts/Brandon_reg.otf) format("truetype");
}

body {
    max-width: 1280px ! important;
    text-align: center ! important;
    margin: auto ! important;
    font-family: "Calibre-reg" ! important;
    letter-spacing: 0.5;
    background-color: #E7E6E5 !important;
}

.row {
    max-width: 1280px !important;
    margin: 0 ! important;
}
.every_img {
    width: 100%;
}
.header {
    background: url(../img/head.png) no-repeat center center;
    background-size: cover ;
    color: #ffffff;
}

.header h1 {
    font-family: Brandon_reg;
    font-size: 36px;
}
.header h3 {
    color: #dcdcdc;
    padding-bottom: 3%;
}

p {
    font-size: 20px! important;
    color: #717373;
}
.book_img {
    padding-top: 61px;
    padding-bottom: 172px;
}

.video_cont {
    padding-bottom: 16%;
}

.main {
    background-color: #ffffff;
}

.main_cont {
    margin-top: 6% !important;
}
.main .description {
    padding-top: 17% ! important;
    width: 90%;
    margin-left: 8%;
    letter-spacing: -0.2px;
}

.description {
    margin: 5%;
}

.description h2 {
    color: #8DC763;
    padding-bottom: 28px;
    letter-spacing: -1px;
    font-size: 28px;
    line-height: 1.4;
    font-family: Brandon_reg;
}

.description h5 {
    letter-spacing: 2.2px;
}
h5 {
    color: grey !important;
}

.about {
    background-color: #393F40;
    color: #ffffff;
    margin-top: -30px !important;
}

.about_cont {
    padding-top: 4%;
    text-align: left;
    padding-bottom: 11%;
    width: 95%;
    padding-left: 12%;
}

.about_img {
    display: inline-block;
    padding-right: 2%;
}

.about p {
    padding-top: 7px;
    color: #b0b2b3;
}
.about_cont h3 {
    display: inline-block;
}

.about2 , .about2mob{
    background-color: #e1e0df;
}

.about2 .description {
    padding-top: 45%;
    margin: 4%;
    letter-spacing: normal;
}

.about2mob .description{
    padding-top: 45%;
    margin: 4%;
    letter-spacing: normal;
}

.about2mob img {
    padding-top: 19%;
    margin-left: 8px;
    padding-bottom: 13%;
}

.about2 img {
    padding-top: 19%;
    margin-left: 8px;
    padding-bottom: 13%;
}

.fun_facts {
    background-color: #ffffff;
}
.fun_facts .description {
    padding-top: 7%;
    line-height: 1.5;
    padding-bottom: 1%;
    letter-spacing: 0.9px;
}
.friends {
    padding-left: 3% ! important;
    padding-right: 3% ! important;
    padding-bottom: 10% ;
}
.friends h4 {
    padding-top: 10px;
}

.friends p {
    color: #717373;
}
.instructions {
    background-color: #e1e0df;
    cursor: pointer;
    padding-bottom: 8%;
}

.instructions .description {
   padding-top: 11.5%;
}

.instructions img {
    padding-top: 4%;
    padding-bottom: 9%;
}

.slider {
    margin: 0;
}

.slider .carousel-caption {
  padding-bottom: 20%;
    margin-left: -50px;
    width: 38%;
    text-align: left;
}

.slider .carousel-caption h3 {
    font-size: 28px;
}

.slider .carousel-caption p {
    font-size: 20px;
    color: #ffffff;
}
.pricing , .pricing_mob{
    background-color: #ffffff;
    padding-bottom: 3%;
}
.pricing img{
    padding-top: 23%;
    width: 88%;
    padding-bottom: 13%;
}

.pricing_mob img{
    padding-top: 23%;
    width: 88%;
    padding-bottom: 13%;
}

.pricing_mob .description{
    padding-top: 45%;
    width: 85%;
    margin: 4%;
}

.pricing .description {
    padding-top: 45%;
    width: 85%;
    margin: 4%;
}
.modal-footer, .modal-header{
  border: 0 ! important;
}

.modal {
    word-wrap: break-word;
}

.modal-lg {
    width: 1130px !important;
}
.regular_img {
    padding-top: 10%;
    padding-bottom: 10%;
}
.last_punchline{
    background-color: #8DC763;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 6%;
}

.last_punchline h3 {
    padding-bottom: 5%;
}
.last_punchline .btn {
    height: 41px;
    color: #76A852;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;

}

.bttn {
    color: #76A852;
    text-decoration: none;
    background: #ffffff;
    padding: 1.1em 2em;
    outline: none; /* убирать контур в Mozilla */
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border: solid 1px #dcdcdc;
    vertical-align: -webkit-baseline-middle;
}
.footer {
    background-color: #222627;
    color: #ffffff;
    padding: 3%;
}
.footer ul li {
    display: inline-block;
    color: #dcdcdc;
    margin-top: 2%;
    font-size: 18px;
}

@media (min-width  : 1100px) {
    .about2mob , .pricing_mob {
        display: none !important;
        visibility: hidden !important;
    }
}
@media (max-width : 640px) {


    .book_img {
        padding-top: 16%;
        padding-bottom: 14%;
        width: 7%;
    }

    .header h1 {
        font-size: 61px;
        padding-bottom: 3%;
    }
    .header h3 {
        font-size: 37px;
        padding-bottom: 8%;
    }

    .video_cont img {
       width: 50%;
    }

    .video_cont {
        padding-bottom: 23%;
    }
    .main .description {
        padding-top: 0 !important;
    }

    .description {
        text-align: center! important;
    }
    .description h5 {
        font-size: 22px;
        padding-top: 17%;
    }

    .description h2 {
        font-size:44px ! important;
    }

    .description p {
        font-size: 34px! important;
        padding-bottom: 3%;
    }

    .about {
        padding-bottom: 3%;
    }
    .about_cont {
        padding-bottom: 0! important;
        padding-left: 7%;
    }

    .about_cont img {
        width: 12%;
    }

    .about_cont h3 {
        font-size: 37px;
        padding-top: 8%;
    }

    .about_cont p {
        font-size: 34px !important;
        padding-bottom: 4%;
    }

    .about2 {
        display: none !important;
        visibility: hidden !important;
    }

    .about2mob {
        padding-top: 0! important;
    }

    .about2mob img {
        padding-top: 0!important;
        padding-bottom: 14%;
    }
    .fun_facts .description{
       padding-top: 0;
    }

    .fun_facts .description p {
    line-height: normal;
    }

    .friends img {
        width: 53%;
        padding-bottom: 6%;
    }
    .friends h4{
        font-size: 37px ;
    }

    .friends p {
        font-size: 34px !important;
    }

    .instructions .description {
        padding-top: 0 !important;
    }

    .instructions_cont img {
        width: 40%;
        padding-bottom: 6%;
    }

    .instructions_cont h5{
        font-size: 22px;
    }

    .instructions_cont h3 {
        font-size: 40px;
    }

    .instructions_cont p {
        font-size: 34px !important;
    }

    .pricing {
        display: none !important;
        visibility: hidden !important;
    }
    .pricing_mob img {
        padding-top: 5%;
    }

    .pricing_mob .description {
        padding: 0! important;
    }

    .slider .carousel-caption {
        margin: 0 ! important;
        text-align: center;
        padding: 0! important;
        width: 70% !important;
    }

    .slider .carousel-caption p {
        font-size: 20px;
        color: #ffffff;
        padding-bottom: 10%! important;
    }
    .last_punchline h3 {
        font-size: 38px;
        padding-top: 10%;
        padding-bottom: 13%;
    }

    .bttn {
        font-size: 32px;
        padding: 1.1em 5em;
    }

    .button {
        padding-bottom: 18%;
    }
    .footer ul{
        text-align: center;
    }
    .footer h4 {
        font-family: Brandon_reg;
        font-size: 34px;
        text-align: center;
        padding-top: 8%;
    }

    .footer ul li {
        font-size: 30px;
    }

    .social li img {
        width: 150%;
        padding: 15%;

    }

}

